* {
  font-family: helvetica;
}

#gameInformation {
  position: relative;
  width: 539px;
  height: 319px;
}

.borderDiv {
  border: 1px solid;
  border-radius:10px;
  margin: 5px;
  padding: 5px;
}

#gameTitle {
  position: absolute;
  float:left;
  top: 0;
  left: 0;
  width:360px;
  height:20px;
}

#roleInfo {
  position: absolute;
  float:left;
  top: 0;
  right: 0;
  width:140px;
  height:20px;
}

#missionInfo {
  position: absolute;
  float: left;
  bottom: 0;
  left: 0;
  width:360px;
  height:260px;
}

#playerInfo {
  position: absolute;
  float: left;
  bottom: 0;
  right: 0;
  width:140px;
  height:260px;
}

#action {
  position: relative;
  clear: both;
  width:518px;
  height: 350px;
}
